<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <form>
            <p class="fsize">Login</p>
            <input type="text" placeholder="Username"/>
            <input type="password" placeholder="Password"/>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>