<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出勤場所一覧</title>
    <link rel="stylesheet" href="static/css/js/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">勤怠入力</a></li>
            <li><a href="workplace.html">勤務場所登録</a></li>
            <li><a href="address.html">連絡先登録</a></li>
            <li><a href="history.html">勤怠履歴一覧表示</a></li>
            <li><a href="status.html">勤怠状況一覧表示</a></li>
            <li><a href="login.html">ログアウト</a></li>
        </ul>
    </nav>
    <div class="main">
        <p>出勤場所一覧</p>
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <th>氏名</th>
                <th>事業所</th>
                <th>部署</th>
            </tr>
            <tr>
                <td>齋藤飛鳥</td>
                <td>東京本社</td>
                <td>営業部</td>
            </tr>
        </table>
    </div>
</body>
</html>