<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー新規登録</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="users_list.html">ユーザー管理</a></li>
            <li><a href="#">勤務場所管理</a></li>
            <li><a href="working_time.html">勤務時間集計</a></li>
            <li><a href="login.html">ログアウト</a></li>
        </ul>
    </nav>
    <div class="main">
        <p>ユーザー新規登録</p>
        <form action="" th:action="@{/user_add}" method="post">
            <p>ユーザーID</p>
            <input type="text" id="getName" name="getName" placeholder="山田太郎">
            <p>パスワード</p>
            <input type="password" id="getPassword"  name="getPassword" placeholder="ｘｘｘｘｘｘｘ">
            <p>権限</p>
            <select name=”getRole” size=”3″>
                <option value=”1″>---</option>
                <option value=”2″  selected>一般ユーザー</option>
                <option value=”3″>---</option>
            </select>
            <input type="submit" value="登録">
        </form>
    </div>
</body>
</html>