<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勤務時間集計</title>
    <link rel="stylesheet" href="static/css/js/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="users_list.html">ユーザー管理</a></li>
            <li><a href="#">勤務場所管理</a></li>
            <li><a href="working_time.html" class="current">勤務時間集計</a></li>
            <li><a href="login.html">ログアウト</a></li>
        </ul>
    </nav>
    <div class="main">
        <p>勤務時間集計一覧</p>
        <p><span>2022</span>年<span>10</span>月</p>
        <a href="#">先月へ</a>
        <a href="#">次月へ</a>
        <table border="1" cellspacing="0" cellpadding="0">
            <tr>
                <th>氏名</th>
                <th>勤務時間</th>
            </tr>
            <tr>
                <td><a href="../../../../../src/attendance_history.html">齋藤飛鳥</a></td>
                <td>31:10</td>
            </tr>
        </table>
    </div>
</body>
</html>